<% layout('../removeCardLayout') -%>
	<div class = "row flex-row flex-sm-nowrap">
					<div class = "col-sm-12 col-md-6 col-lg-4 col-xl-3">
						<div class = "card card-block border-primary mb-4">
							<div>
								<img class = "card-img-top pb-2" src = "https://s3-media3.fl.yelpcdn.com/bphoto/y5YtVmOykxtj3ut7k3rKWQ/o.jpg" alt = "card">
								<div class = "card-img-overlay relative-top">
									<h4 class = "align-top card-title">Restaurant</h4>
									<h6 class = "align-bottom card-subtitle">$$$, 3.5 Stars</h6>
								</div>
							</div>
							<div class = "scroll-box px-2">
								<p class = "card-text">Subway tile yr pitchfork craft beer migas kinfolk locavore artisan pabst authentic edison bulb palo santo helvetica. Ugh hot chicken banh mi typewriter PBR&B man braid prism cray DIY shaman echo park celiac tumeric. Farm-to-table tofu ennui brooklyn. Pok pok scenester small batch, everyday carry gentrify tacos distillery humblebrag cliche literally chia man braid waistcoat. Four dollar toast pinterest tacos DIY venmo art party bespoke, occupy blue bottle succulents marfa unicorn letterpress. Salvia YOLO blue bottle, heirloom dreamcatcher glossier shabby chic. Vaporware roof party everyday carry selvage vice 8-bit venmo wolf.</p>
							</div>
							<div class = "sticky-bottom text-center py-1">
								<button type = "button" class = "btn btn-danger">Remove</button>
							</div>
						</div>
					</div>