/*refactor for sass:  embed!*/

.card{
	height:60vh;
	font-size: 1.2rem;
}

.card h4,h6{
	background-color: rgba(30,30,30,.6);
	color: rgba(255,255,255,.9);
}

.card img{
	height: 22vh;
	object-fit: cover;
}

.card .scroll-box{
	overflow-y: scroll;
}