
body{
	background-color:#002970;
}

header{
	background-color:#002970
}

h1,h2,h3,h4,h5,h6{
	color: #f4ac33;
}

.card p{
	color: black;
}

h3{
	font-size: 4.5vh;
}

h5{
	font-size: 3vh;
}

div{
	color: yellow;
	font-size: 2.7vh;
}

.card{
	position:relative;
	height:70vh;
	font-size: 1.2rem;
}

.card h4,h6{
	background-color: rgba(30,30,30,.6);
	color: rgba(255,255,255,.9);
}

.card h4{
	font-size: 3.6vh;
}

.card h6{
	font-size: 2.7vh;
}

.card p,a{
	font-size: 3vh;
}

.card-img-overlay{
	height:25vh;
}

.card img{
	height: 25vh;
	object-fit: cover;
}

/*works for now, but isn't as clean as I'd like.  Figure out later.*/
.card .scroll-box{
	height:45vh;
	overflow-y: scroll;
}